*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    min-height:100vh;
}

h1{
    text-align:center;
    margin-top:100px;
    color:#c4d83f;
}
.navbar{
    width:90%;
    max-width:1400px;

    margin:20px auto;

    padding:20px 30px;

    border-radius:999px;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    text-align:center;
}

.navbar h2{
    color:#c4d83f;
    font-size:2rem;
}
body{
    background:#050505;
    color:white;
    padding:30px;
}

#surahList{
    display:grid;
    grid-template-columns:
    repeat(auto-fill,minmax(250px,1fr));

    gap:20px;
}

.surah-card{

    background:#111;

    border:1px solid #222;

    border-radius:20px;

    padding:25px;

    text-align:center;

    transition:.3s;
}

.surah-card:hover{

    border-color:#c4d83f;

    transform:translateY(-5px);
}

.surah-card h3{

    color:#c4d83f;

    font-size:1.1rem;
}
body{
    background:#050505;
    color:#fff;
    overflow-x:hidden;
    min-height:100vh;
    position:relative;
}

body::before{
    content:"";
    position:fixed;
    width:700px;
    height:700px;
    top:-250px;
    left:-250px;
    background:#c4d83f;
    border-radius:50%;
    filter:blur(180px);
    opacity:.35;
    z-index:-1;
}

body::after{
    content:"";
    position:fixed;
    width:700px;
    height:700px;
    bottom:-250px;
    right:-250px;
    background:#c4d83f;
    border-radius:50%;
    filter:blur(180px);
    opacity:.25;
    z-index:-1;
}
